USE [Payroll_Service]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_EMPLOYEE]    Script Date: 6/22/2022 11:45:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DELETE_EMPLOYEE] @NAME VARCHAR(20)
AS 
BEGIN
DELETE FROM Employee_Payroll WHERE NAME = @NAME
END