USE [Payroll_Service]
GO
/****** Object:  StoredProcedure [dbo].[ADD_EMPLOYEE]    Script Date: 6/21/2022 3:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ADD_EMPLOYEE] @NAME VARCHAR(20), @SALARY FLOAT, @START_DATE DATE, @GENDER VARCHAR(2), @PHONE INT, @ADDRESS VARCHAR(50), @DEPARTMENT VARCHAR(20), @BASIC_PAY FLOAT, @DEDUCTIONS FLOAT, @TAXABLE_PAY FLOAT, @NET_PAY FLOAT
AS
BEGIN
INSERT INTO Employee_Payroll VALUES(@NAME,@SALARY,@START_DATE,@GENDER,@PHONE,@ADDRESS,@DEPARTMENT,@BASIC_PAY,@DEDUCTIONS,@TAXABLE_PAY,@NET_PAY)
END
SELECT NAME,SALARY,START_DATE,GENDER,PHONE,ADDRESS,DEPARTMENT,BASIC_PAY,DEDUCTIONS,TAXABLE_PAY,NET_PAY FROM Employee_Payroll